<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tyshop.mapper.OrderMapper">

    <resultMap id="OrderResultMap" type="tyshop.model.OrderModel">
        <id column="id" property="id"/>
        <result column="seller_id" property="sellerId"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="order_sn" property="orderId"/>
        <result column="order_status" property="orderStatus"/>
        <result column="payment_status" property="payStatus"/>
        <result column="shipping_status" property="shippingStatus"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="total_price" property="totalPrice"/>
        <result column="post_fee" property="postFee"/>
        <result column="point" property="point"/>
        <result column="memo" property="memo"/>
        <result column="trade_no" property="tradeNo"/>
        <result column="invoice_title" property="invoice"/>
        <result column="created" property="create"/>
        <result column="updated" property="updated"/>
        <result column="active" property="active"/>
    </resultMap>

    <insert id="insert" parameterType="tyshop.model.OrderModel">
         <![CDATA[
            insert into t_order (
            seller_id, buyer_id, order_sn, order_status, payment_status,shipping_status,
            receiver_id, total_price, post_fee, point, memo, trade_no, invoice_title,
            created,
            updated,
            active
            ) VALUES (
            #{sellerId},#{buyerId},#{orderId},#{orderStatus},#{payStatus},#{shippingStatus},#{receiverId},
            #{totalPrice},#{postFee},#{point},#{memo},#{tradeNo},#{invoice},#{create},#{updated},#{active}
            )
        ]]>
    </insert>

    <select id="getOrderById" resultMap="OrderResultMap" parameterType="String">
        <![CDATA[
            select
            buyer_id, order_sn, order_status, payment_status,shipping_status,
            receiver_id, total_price, post_fee, point, memo, trade_no, invoice_title,
            created,updated,active from t_order where id = #{id}
        ]]>
    </select>

    <select id="listOrderBySellerId" resultMap="OrderResultMap" parameterType="String">
        <![CDATA[
            select
            buyer_id, order_sn, order_status, payment_status,shipping_status,
            receiver_id, total_price, post_fee, point, memo, trade_no, invoice_title,
            created,updated,active from t_order where seller_id = #{sellerId}
        ]]>
    </select>


</mapper>