<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tyshop.mapper.ProductMapper">

    <resultMap id="ProductResultMap" type="tyshop.model.ProductModel">
        <id column="id" property="id"/>
        <result column="seller_id" property="sellerId"/>
        <result column="sn" property="sn"/>
        <result column="name" property="name"/>
        <result column="name_desc" property="nameDesc"/>
        <result column="price" property="price"/>
        <result column="market_price" property="marketPrice"/>
        <result column="image" property="image"/>
        <result column="stock" property="stock"/>
        <result column="delivery_weight" property="deliveryWeight"/>
        <result column="is_unified_spec" property="isUnifiedSpec"/>
        <result column="is_marketable" property="isMarketbable"/>
        <result column="is_list" property="isUnifiedSpec"/>
        <result column="introduction" property="introduction"/>
        <result column="sales" property="sales"/>
        <result column="product_category_id" property="productCategoryId"/>
        <result column="delivery_type" property="deliveryType"/>
        <result column="delivery_fees" property="delvieryFees"/>
        <result column="delivery_template_id" property="deliveryTemplateId"/>
        <result column="created" property="created"/>
        <result column="updated" property="modified"/>
        <result column="active" property="active"/>
    </resultMap>

    <select id="getProductById" resultMap="ProductResultMap" parameterType="int">
         <![CDATA[
			select seller_id, sn, price, image, introduction, product_category_id from t_product as a, b.content, b.is_show t_product_review as b where a.id = b.product_id and a.id = #id#
		]]>
    </select>

    <select id="listProduct" resultMap="ProductResultMap">
        select id, seller_id, sn, name, name_desc, price, market_price, image, stock, delivery_weight, is_unified_spec,
         is_marketable, is_list, introduction, sales, product_category_id, delivery_type, delivery_fees, delivery_template_id,
           created, updated, active from t_product
    </select>
</mapper>